<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

<h1 >掲示板</h1>

<form>
<span>名前</span><br>
<input>
<br>
<br>
<span>コメント</span><br>
<textarea></textarea>
<br>
<button>投稿</button>
</form>
<hr>


<div th:each="article : ${articleList}">
<span>名前</span>:<span th:text="${article.name}">名前を表示する</span>
<span>投稿記事</span>:<span th:text="${article.content}">投稿記事を表示する</span>
</div>

<br>
<br>
<span>コメント</span>:<span>コメント表示する</span>
<br>
<button>コメント</button>
<button>削除</button>



</body>
</html>